.box {
  margin: 50vh auto 0;
  transform: translateY(-50%);
  text-align: center;
}

footer {
  text-align: center;
}

footer h2 a {
  text-decoration: none;
  color: white;
}

header {
  font-family: "Nosifer", cursive;
}

#score {
  pointer-events: none;
}

